<?xml version="1.0" encoding="utf-8"?>
<AddinSystemConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Repositories>
    <Repository id="rep0">
      <IsReference>false</IsReference>
      <File>/home/jayson/.config/MonoDevelop-3.0/repository-cache/addins.monodevelop.com_0.mrep</File>
      <Url>http://addins.monodevelop.com/Stable/Linux/3.0.3/main.mrep</Url>
      <Name>MonoDevelop Add-in Repository</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep1">
      <IsReference>false</IsReference>
      <File>/home/jayson/.config/MonoDevelop-3.0/repository-cache/addins.monodevelop.com_1.mrep</File>
      <Url>http://addins.monodevelop.com/Beta/Linux/3.0.3/main.mrep</Url>
      <Name>MonoDevelop Add-in Repository (Beta channel)</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep2">
      <IsReference>false</IsReference>
      <File>/home/jayson/.config/MonoDevelop-3.0/repository-cache/addins.monodevelop.com_2.mrep</File>
      <Url>http://addins.monodevelop.com/Alpha/Linux/3.0.3/main.mrep</Url>
      <Name>MonoDevelop Add-in Repository (Alpha channel)</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
      <Enabled>false</Enabled>
    </Repository>
    <Repository id="rep3">
      <IsReference>true</IsReference>
      <File>/home/jayson/.config/MonoDevelop-3.0/repository-cache/addins.monodevelop.com_3.mrep</File>
      <Url>http://addins.monodevelop.com/Stable/Linux/3.0.3/root.mrep</Url>
      <Name>MonoDevelop Add-in Repository</Name>
      <LastModified>2013-05-22T08:48:04-04:00</LastModified>
    </Repository>
    <Repository id="rep4">
      <IsReference>true</IsReference>
      <File>/home/jayson/.config/MonoDevelop-3.0/repository-cache/addins.monodevelop.com_4.mrep</File>
      <Url>http://addins.monodevelop.com/Stable/Linux/3.0.2/main.mrep</Url>
      <Name>MonoDevelop Add-in Repository</Name>
      <LastModified>0001-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep5">
      <IsReference>true</IsReference>
      <File>/home/jayson/.config/MonoDevelop-3.0/repository-cache/addins.monodevelop.com_5.mrep</File>
      <Url>http://addins.monodevelop.com/Stable/Linux/3.0.1/main.mrep</Url>
      <Name>MonoDevelop Add-in Repository</Name>
      <LastModified>0001-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep6">
      <IsReference>true</IsReference>
      <File>/home/jayson/.config/MonoDevelop-3.0/repository-cache/addins.monodevelop.com_6.mrep</File>
      <Url>http://addins.monodevelop.com/Stable/Linux/3.0/main.mrep</Url>
      <Name>MonoDevelop Add-in Repository</Name>
      <LastModified>0001-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep7">
      <IsReference>true</IsReference>
      <File>/home/jayson/.config/MonoDevelop-3.0/repository-cache/addins.monodevelop.com_7.mrep</File>
      <Url>http://addins.monodevelop.com/Stable/Linux/3.0/root.mrep</Url>
      <Name>MonoDevelop Add-in Repository</Name>
      <LastModified>2013-05-18T11:27:04-04:00</LastModified>
    </Repository>
    <Repository id="rep8">
      <IsReference>true</IsReference>
      <File>/home/jayson/.config/MonoDevelop-3.0/repository-cache/addins.monodevelop.com_8.mrep</File>
      <Url>http://addins.monodevelop.com/Stable/Linux/2.9.0/main.mrep</Url>
      <Name>MonoDevelop Add-in Repository</Name>
      <LastModified>0001-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep9">
      <IsReference>true</IsReference>
      <File>/home/jayson/.config/MonoDevelop-3.0/repository-cache/addins.monodevelop.com_9.mrep</File>
      <Url>http://addins.monodevelop.com/Beta/Linux/3.0.2/main.mrep</Url>
      <Name>MonoDevelop Add-in Repository (Beta channel)</Name>
      <LastModified>0001-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep10">
      <IsReference>true</IsReference>
      <File>/home/jayson/.config/MonoDevelop-3.0/repository-cache/addins.monodevelop.com_10.mrep</File>
      <Url>http://addins.monodevelop.com/Beta/Linux/3.0.1/main.mrep</Url>
      <Name>MonoDevelop Add-in Repository (Beta channel)</Name>
      <LastModified>0001-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep11">
      <IsReference>true</IsReference>
      <File>/home/jayson/.config/MonoDevelop-3.0/repository-cache/addins.monodevelop.com_11.mrep</File>
      <Url>http://addins.monodevelop.com/Beta/Linux/3.0/main.mrep</Url>
      <Name>MonoDevelop Add-in Repository (Beta channel)</Name>
      <LastModified>0001-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep12">
      <IsReference>true</IsReference>
      <File>/home/jayson/.config/MonoDevelop-3.0/repository-cache/addins.monodevelop.com_12.mrep</File>
      <Url>http://addins.monodevelop.com/Beta/Linux/3.0/root.mrep</Url>
      <Name>MonoDevelop Add-in Repository (Beta channel)</Name>
      <LastModified>2013-05-18T11:27:04-04:00</LastModified>
    </Repository>
    <Repository id="rep13">
      <IsReference>true</IsReference>
      <File>/home/jayson/.config/MonoDevelop-3.0/repository-cache/addins.monodevelop.com_13.mrep</File>
      <Url>http://addins.monodevelop.com/Beta/Linux/2.9.0/main.mrep</Url>
      <Name>MonoDevelop Add-in Repository (Beta channel)</Name>
      <LastModified>0001-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep14">
      <IsReference>true</IsReference>
      <File>/home/jayson/.config/MonoDevelop-3.0/repository-cache/addins.monodevelop.com_14.mrep</File>
      <Url>http://addins.monodevelop.com/Beta/Linux/3.0.3/root.mrep</Url>
      <Name>MonoDevelop Add-in Repository (Beta channel)</Name>
      <LastModified>2013-05-22T08:48:04-04:00</LastModified>
    </Repository>
  </Repositories>
  <RepositoryIdCount>15</RepositoryIdCount>
  <DisabledAddins />
  <AddinPaths />
</AddinSystemConfiguration>